
//Font Families
$font-family-body: 'Roboto';
$font-family-heading: 'Roboto Slab';
$font-family-fixed: "andale mono", "lucida console";

//Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

//Body Font Sizes
$body-font-size-small: em(9px);
$body-font-size-normal: em(14px);
$body-font-size-large: em(16px);

//Heading Sizes
$heading-font-size-1: em(60px);
$heading-font-size-2: em(50px);
$heading-font-size-3: em(40px);
$heading-font-size-4: em(30px);
$heading-font-size-5: em(20px);
$heading-font-size-6: em(10px);