@import "bourbon";
@import "partials/typography";
@import "partials/floats";
@import "partials/colours";
@import "partials/spacing";

*{
	@include reset-spacing;
}

:-webkit-full-screen body{
  width: 100%;
  height: 100%;
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	color: $light-grey-5;
	font-family: $font-family-body;
}
.left{
	@include float-left;
	display: inline-block;
}

.right{
	@include float-right;
	display: inline-block;
}

.deck-bg{
	background-color: $black;
}

.controls{
	padding: $spacing-medium;
	margin-bottom: $spacing-medium;
	h2{
		// margin-top: 0px;
	}
	&.slide{
		background-color: $mid-grey-3
	}
	&.global{
		background-color: $mid-grey-1
	}
}

ng-md-icon{
	position: relative;
	top: $spacing-small;
	margin-right: $spacing-small;
}

ww-slide, .fake-slide{
	display: block;
	width: 100%;
	margin: $spacing-medium;
	padding-bottom: (3/4)*100%;
	position: relative;
	background-color: $black;;
	border: 1px solid $mid-grey-3;
	user-select: none;
	margin-bottom: $spacing-large;
}

ww-slide{
	overflow: hidden;
	color: $white; //important this is here to allow css overriding
	fill: $white;
	&.deck-view {
		@include reset-margin;
		border: 0px;
		cursor: none;
	}
	&.deck-blanked {
		visibility: hidden;
	}
	& > .slide-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: transparent !important;
		font-size: $body-font-size-large;
		margin: 5%;

		&.disable-margin {
			@include reset-margin;
		}
		&.video-slide {
			@include reset-margin;
			video {
				width: 100%;
				height: 100%;
				&::cue {
					background: transparent;
					text-shadow: 2px 2px 6px black;
				}
			}
		}
	}
}

md-grid-tile{
	@include reset-padding;
	ww-slide, .fake-slide {
		@include reset-margin;
	}
}

.node-select-node figcaption {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.node-select-ctrl .fake-slide{
	background-color: red;
	border: 1px solid $white;
}

.hidden-fragment-visibility{
	visibility: hidden;
}

.hidden-fragment-display{
	display: none;
}

.hidden-fragment-opacity{
	opacity: 0;
}

.video-hidden{
	display: none;
}

.node-picker{
	background-color: $dark-grey-2!important;
	md-grid-tile{
		cursor: pointer;
	}
}

.node-title, .node-mute{
	@include reset-padding;
	margin: $spacing-small;
}

.hide{
	visibility: hidden;
}

/* Animations */
@keyframes slide-out-right{
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes spin-zoom-in{
	from {
		transform: rotate(-5turn) scale(0, 0);
	}
	to {
		transform: rotate(0deg) scale(1, 1);
	}
}

.slide-content{
	&.animate-slide-out-right{
		animation: slide-out-right 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	&.animate-spin-zoom-in{
		animation: spin-zoom-in 0s cubic-bezier(0.215, 0.61, 0.355, 1);

	}
}


.dialog-1 {
	color: limegreen;
}

.dialog-2 {
	color: hotpink;
}

.dialog-3 {
	color: yellow;
}

.dialog-4 {
	color: turquoise;
}

.stage-direction {
	font-style: italic;
}

.newspaper-fragment {
	position: absolute;
	background: transparent center center / contain no-repeat;
	margin: auto auto;
	width: 100%;
	height: 100%;
	transition: opacity 4000ms, transform 3000ms;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
