<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button aria-label="Back" href="#/"><ng-md-icon icon="arrow_back" style="fill: #ffffff"></ng-md-icon></md-button>
		<h3><span>{{mainCtrl.properties.name}}</span></h3>
		<md-button ng-click="mainCtrl.fullScreen();" class="right">Test</md-button>
	</div>
</md-toolbar>

<md-content flex layout="row">
	<!-- Column 1 -->
	<md-content class="node-picker md-padding" flex="20" layout="column">
		<h1>Nodes</h1>
		<md-grid-list md-cols="1" md-gutter="20px" md-row-height="4:3">
			<md-grid-tile ng-click="ctrlCtrl.viewingNode = node.id" ng-repeat="node in mainCtrl.deck.nodes" class="node-select-node" layout-align="start center">
				<ww-slide display-slide="{{mainCtrl.deckState.slideNo}}" display-fragment="{{mainCtrl.deckState.fragment}}" node-id="{{node.id}}"
					video-playing="{{mainCtrl.mediaState[node.id].playing}}"></ww-slide>
				<md-grid-tile-footer>
					<h3 class="left node-title">{{node.name}}</h3>
					<md-button class="right node-mute" ng-click="mainCtrl.toggleNodeBlank(node.id, !mainCtrl.deckState.nodeBlank[node.id]);">
						<span ng-if="mainCtrl.deckState.nodeBlank[node.id]"><ng-md-icon icon="grid_on" style="fill: #FF2400"></ng-md-icon></span>
						<span ng-if="!mainCtrl.deckState.nodeBlank[node.id]"><ng-md-icon icon="grid_off" style="fill: #FAFAFA"></ng-md-icon></span>
					</md-button>

					<md-button class="right node-mute" ng-click="mainCtrl.toggleNodeMute(node.id, !mainCtrl.deckState.nodeMuted[node.id]);">
						<span ng-if="mainCtrl.deckState.nodeMuted[node.id]"><ng-md-icon icon="volume_off" style="fill: #FF2400"></ng-md-icon></span>
						<span ng-if="!mainCtrl.deckState.nodeMuted[node.id]"><ng-md-icon icon="volume_up" style="fill: #FFF"></ng-md-icon></span>
					</md-button>
				</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</md-content>
	<!-- End of Column 1 -->

	<!-- Column 2 -->
	<md-content class="md-padding" flex="60" layout="column">
		<md-grid-list md-cols="1" md-gutter="20px" md-row-height="4:3">
			<md-grid-tile class="node-select-node" layout-align="start center">
				<ww-slide display-slide="{{mainCtrl.deckState.slideNo}}" display-fragment="{{mainCtrl.deckState.fragment}}" node-id="{{ctrlCtrl.viewingNode}}" enable-video="true" mute-audio="{{ctrlCtrl.muted}}" video-playing="{{mainCtrl.mediaState[ctrlCtrl.viewingNode].playing}}" video-pause-time="{{mainCtrl.mediaState[ctrlCtrl.viewingNode].pauseTime}}" on-video-end="mainCtrl.mediaEnded(ctrlCtrl.viewingNode)"></ww-slide>
				<md-grid-tile-footer>
					<h3 class="left node-title">{{mainCtrl.getNodeById(ctrlCtrl.viewingNode).name}}</h3>
					<md-button class="right node-mute" ng-click="ctrlCtrl.muted = !ctrlCtrl.muted">
						<span ng-if="ctrlCtrl.muted"><ng-md-icon icon="volume_off" style="fill: #FF2400"></ng-md-icon></span>
						<span ng-if="!ctrlCtrl.muted"><ng-md-icon icon="volume_up" style="fill: #FFF"></ng-md-icon></span>
					</md-button>
				</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
		<h3>Notes</h3>
		<p><em>{{mainCtrl.deck.slides[mainCtrl.deckState.slideNo].notes}}</em></p>
	</md-content>
	<!-- End of Column 2 -->

	<!-- Column 3 -->
	<md-content class="md-padding" flex>
		<!-- Controls:  -->
		<md-content flex>
			<md-toolbar>
				<div class="md-toolbar-tools"><h3>Status</h3></div>
			</md-toolbar>
			<md-content class="md-padding">
				<div>Slide {{mainCtrl.deckState.slideNo + 1}} / {{mainCtrl.deck.slides.length}}</div>
				<div ng-class="{hide: !mainCtrl.hasFragment(mainCtrl.deckState.slideNo)}">Fragment {{mainCtrl.deckState.fragment + 1}} / {{mainCtrl.getNumFragments(mainCtrl.deckState.slideNo)}}</div>
			</md-content>
		</md-content>
		<md-content flex>
			<md-toolbar>
				<div class="md-toolbar-tools"><h3>Show Controls</h3></div>
			</md-toolbar>
			<md-content class="md-padding">
				<div layout="row">
					<md-button ng-click="mainCtrl.prevSlide()">Prev</md-button>
					<md-button ng-click="mainCtrl.nextSlide()">Next</md-button>
				</div>
				<div layout="row">
					<md-button ng-click="mainCtrl.toggleBlank(true)"><ng-md-icon icon="grid_off" style="fill: #fafafa"></ng-md-icon>Blank All</md-button>
					<md-button ng-click="mainCtrl.toggleBlank(false)" ng-disabled="!mainCtrl.anyNodesBlank()" style="color: #FF2400"><ng-md-icon icon="grid_on" style="fill: #FF2400"></ng-md-icon>Un-blank All</md-button>
				</div>
				<div layout="row">
					<md-button ng-click="mainCtrl.toggleMute(true)"><ng-md-icon icon="volume_off" style="fill: #fafafa"></ng-md-icon>Mute All</md-button>
					<md-button ng-click="mainCtrl.toggleMute(false)" ng-disabled="!mainCtrl.anyNodesMuted()" style="color: #FF2400"><ng-md-icon icon="volume_up" style="fill: #FF2400"></ng-md-icon>Un-mute All</md-button>
				</div>
			</md-content>
		</md-content>
		<md-content flex>
			<md-toolbar>
				<div class="md-toolbar-tools"><h3>Slide Controls</h3></div>
			</md-toolbar>
			<md-content class="md-padding">
				<div layout="row">
					<md-button ng-disabled="mainCtrl.deckState.autoTransition" ng-click="mainCtrl.mediaPlay()"><ng-md-icon icon="play_arrow" style="fill: #fafafa"></ng-md-icon>Play Video</md-button>
					<md-button ng-disabled="mainCtrl.deckState.autoTransition" ng-click="mainCtrl.mediaPause()" style="color: #fafafa"><ng-md-icon icon="pause" style="fill: #FF2400"></ng-md-icon>Pause Video</md-button>
				</div>
				<div layout="row" ng-class="{hide: !mainCtrl.hasFragmentTimings(mainCtrl.deckState.slideNo)}">
					<md-button ng-hide="mainCtrl.deckState.autoTransition" ng-click="mainCtrl.autoTransitionStart()" style="color: #fafafa"><ng-md-icon icon="play_arrow" style="fill: #FAFAFA"></ng-md-icon>Play Fragments</md-button>
					<md-button ng-show="mainCtrl.deckState.autoTransition" ng-click="mainCtrl.autoTransitionStop()" style="color: #fafafa"><ng-md-icon icon="pause" style="fill: #FAFAFA"></ng-md-icon>Pause Fragments</md-button>
				</div>
			</md-content>
		</md-content>
		<md-content ng-show="mainCtrl.deckState.slideNo+1 < mainCtrl.deck.slides.length">
			<md-toolbar>
				<div class="md-toolbar-tools"><h3>Next Slide</h3></div>
			</md-toolbar>
			<md-content class="md-padding">
				<div layout="row">					
					<ww-slide display-slide="{{mainCtrl.deckState.slideNo+1}}" display-fragment="0" node-id="{{ctrlCtrl.viewingNode}}"></ww-slide>
				</div>
			</md-content>
		</md-content>
	</md-content>
	<!-- End of Column 3 -->
</md-content>
