<div class="deck-bg" flex layout="row" layout-align="center center">
    <ww-slide class="deck-view" display-slide="{{mainCtrl.deckState.slideNo}}"
    	display-fragment="{{mainCtrl.deckState.fragment}}"
        node-id="{{deckCtrl.nodeId}}" ng-class="{'deck-blanked': mainCtrl.deckState.nodeBlank[deckCtrl.nodeId]}" enable-video="true"
        mute-audio="{{mainCtrl.deckState.nodeMuted[deckCtrl.nodeId]}}"
        video-playing="{{mainCtrl.mediaState[deckCtrl.nodeId].playing}}"
        video-pause-time="{{mainCtrl.mediaState[deckCtrl.nodeId].pauseTime}}"
        on-video-end="mainCtrl.mediaEnded(deckCtrl.nodeId, pauseTime)"
        ></ww-slide>
</div>
