<md-toolbar>
	<div class="md-toolbar-tools">
		<h3><span>{{mainCtrl.properties.name}}</span></h3>
	</div>
</md-toolbar>

<md-content class="md-padding">
	<p>
		Available Nodes:
	</p>
    <md-grid-list md-cols="6" md-gutter="8px" md-row-height="4:3">
        <a ng-href="#/control">
            <md-grid-tile class="node-select-ctrl">
				<div class="fake-slide"></div>
                <md-grid-tile-footer>
                    <h3>Control</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </a>
        <a ng-repeat="node in mainCtrl.deck.nodes" ng-href="#/view/{{node.id}}">
            <md-grid-tile class="node-select-node" layout-align="start center">
				<ww-slide display-slide="{{mainCtrl.deckState.slideNo}}" display-fragment="{{mainCtrl.deckState.fragment}}" node-id="{{node.id}}"></ww-slide>
                <md-grid-tile-footer>
                    <h3>{{node.name}}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </a>
    </md-grid-list>
</md-content>
